@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

.dark {
  --background: #000;
  --foreground: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}


.container {
    width: 100%;
    max-width: 1256px;
    padding: 0 40px;
}


@media (min-width:1024px) and (max-width:1279px) {}
@media (min-width:768px) and (max-width:1023px) {}