@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
  --grayLight: #f9f9f9;
}

.dark {
  --background: #000;
  --foreground: #fff;
  --grayLight: #141414;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.container {
  width: 100%;
  max-width: 1256px;
  padding: 0 40px;
}
